.header-box {
    border: 3px solid var(--accent);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    position: relative;
}

.toggleSaveCommodity {
    position: absolute; 
    top: 2px;
    right: 2px;
}

.info-box-container {
    position: absolute; 
    top: -2px;
    right: 2px;
}

.toggleSaveCommodity:hover {
    cursor: pointer;
}

.header-wrapper {
    width: max-content;
    margin: auto;
}

