/* Bootstrap -md breakpoint */
@media (max-width: 767px) {
    .navbar-collapsed-content {
      flex-direction: column;
    }
  
    .user-greeting {
      align-self: flex-start;
    }
  
    .nav-links, .user-links {
      justify-content: space-around;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
  }
  
  